@font-face {
  font-family: 'annabel';
  src: url('../font/annabel.ttf');
}
@font-face {
  font-family: 'WRESTLEMANIA';
  src: url('../font/WRESTLEMANIA.ttf');
}
@font-face {
  font-family: 'source';
  src: url('../font/SourceSansPro-Light.otf');
}
html, body, h1, h2, h3, h4, footer{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  min-height: 100%
}
header{
  height: 5em;
  width: 100%;
  background-image: url('../img/burger1.jpg');
  background-position: 0 -410px;
  background-size: cover;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 1px 1px 6px black;
  margin-bottom: 2em;
}
header > h1{
  color: white;
  text-align: center;
  font-family: "WRESTLEMANIA", serif;
  font-size: 70px;
  text-shadow: 6px  6px 8px black;
}
.onglet_G_on{
  color: black;
  background-color: white;
  border-radius: 3px;
  }
.source{
  font-family: "source", sans-serif;
}
.anna{
  font-family: "annabel", serif;
}
.resize{
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #848684;
  background-color: white;
  border-radius: 5px;
  padding: 0px 5px;
}
.liens{
  margin-top: 0em;
  padding-top: 0.1em;
  padding-bottom: 1px;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  font-size: 18px;
}
header div span a{
  margin-top:2em;
  color:white;
  text-decoration: none;
  margin: 20px;
}
header div span a:hover{
  text-decoration: none;
  color: #bdbdbd;
}
.freeSpace{
  height:30.5em;
}
.onglets{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: ;
  align-items: center;
  min-width: 42.5em;
  margin-bottom: -0.1em;
  font-size: 18px;
}
.space{
  width: 6em;
}
div div span{
  margin:0.6em 0em 0.6em 0em;
}
div div span a{
  text-decoration: none;
  padding: 9px;
  border-radius: 12px 12px 0px 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  color:white;
  text-shadow: 2px 2px 5px black;
}
div div span a:hover{
  text-decoration: none;
  color: black;
  background-color: rgba(0,0,0,0.15);
}
.grey{
  background-color: rgba(0,0,0,0.3);
}
.active{
  color: black;
  text-shadow: none;
  text-decoration: none;
  background-color: rgba(0,0,0,0.15);
}
input[type="text"]{
  padding: 10px;
  border: solid 1px #dcdcdc;
  border-radius: 3px;
  transition: box-shadow 0.3s, border 0.3s;
  width: 30em;
}
input[type="text"]:focus,
input[type="text"].focus{
  border: solid 1px #4CADC1;
  box-shadow: 0 0 5px 1px #4CADC1;
}
.price{
  border:1px solid silver;
  padding: 0.48em 0.4em;
  border-radius: 3px;
  margin-left: -0.35em;
  background-color:#e0dede;
}
.text{
  margin-left: 0.3em;
  padding-right: 1.5em;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.column{
 flex-direction: column;
}
.title{
  font-size: 1.7em;
  color: #575A5B;
  margin: 0.4em  0em 0em 0em;
}
.checkbox{
  padding-left: 1em;
  background-color: white;
  border-radius: 4px;
}
.checkB{
  padding: 2px;
}
.submit{
  border: none;
  background-color: #1E9BB4;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 1em 3em 0.5em 3em;
  padding: 0.8em 2em;
  border-radius: 30px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.smallSubmit{
  border: none;
  background-color: #1E9BB4;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 30px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  max-height: 2em;
}
.smallSubmit:hover{
  color: black;
  opacity: 1;
  filter: alpha(opacity=100);
}
.microForm{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:baseline;
}
.hidden{
  display:none;
}
.hiddenMenu{
  display:none
}
.red{
  background-color: #D9534C;
}
.menuPlat{
  display: flex;
  justify-content: space-around;
  margin: 0 20% 0 20%;
  padding: 1em 0 0.5em 0;
  text-align: center;
}
.cuisine{
  padding-left: 25%;
  padding-right:25%;
}
.alignForm{
  display:flex;
  justify-content: center;
  min-width: 42.7em;
  border-radius: 0px 0px 12px 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 1em;
  background-color:rgba(0, 0, 0, 0.15);
}
.paddingSup{
  padding-left: 4em;
  padding-right: 4em;
}
form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
label{
  margin-top: 1em;
  margin-bottom: 0.2em;
}
/*=======sorry about that important===============*/
.inputPrix{
  width: 4em !important;
}
.mainPlat{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
}
.plat{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 3px 3px 3px silver;
  border-radius: 12px;
  padding:0em 1em 0em 1em;
  margin:0.5em 0.5em;
  width: 12em;
  height:auto;
}
.img_plat{
  width: 130px;
  height:100px;
  -moz-border-radius:10px 10px;
  -webkit-border-radius:10px 10px;
  border-radius:10px 10px;
}
.menuTitle{
  text-align: center;
}
.menu{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 3px 3px 3px silver;
  color: black;
  border-radius: 12px;
  margin:0.5em 0.5em 0em 0.5em;
  padding:0em 1em;
  width: 17em;
  height:auto;
}
.smallMargin{
  margin-left:1em;
}
.showHideList{
  width: 30em;
  align-self: center;
}
.prix{
  background-color: white;
  padding:3px;
  border-radius: 3px;
  width:3em;
  text-align: center;
}
.choice{
  display:flex;
  justify-content: center;
}
.tomato{
  width:150px;
  height:10px;
  background-color:rgba(255, 0, 0,0.9);
  border-radius: 2px;
}
footer{
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 100%;
  max-height: 15em;
  margin-top: 5em;
  bottom: 0;

}
@media screen and (min-width: 900px) {
  .mainPlat {
    margin: 0em 6em;
  }
}
@media screen and (min-width: 1150px) {
  .mainPlat {
    margin: 0em 12em;
  }
}
@media screen and (max-width: 400px) {
  header{
    border-radius: 0;
    background-position: 0 -100px;
  }
  header div span a{
    margin: 11px;
  }
  .liens{
    border-radius: 0px;
  }
  .cuisine{
    padding-left: 1%;
    padding-right: 1%;
  }
  .onglets{
    flex-direction: column;
    align-items: center;
    min-width: 20em;
  }
  div div span{
    margin:0.3em 0em 0.8em 0em;
    min-width:12em;
  }
  div div span a{
    border-radius: 12px 12px 12px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .alignForm{
    min-width: 100%;
    border-radius: 12px 12px 12px 12px;
  }
  input[type="text"]{
    width:80%;
  }
  .showHideList{
    width: 20em;
  }
  .submit{
    margin:0.5em;;
  }
  .hiddenMenu{
    display:block;
  }
  .menuShow{
    display: none
  }
  .menuPlat{
    margin: 0;
  }
