@font-face {
  font-family: 'annabel';
  src: url('../font/annabel.ttf');
}
@font-face {
  font-family: 'WRESTLEMANIA';
  src: url('../font/WRESTLEMANIA.ttf');
}
@font-face {
  font-family: 'source';
  src: url('../font/SourceSansPro-Light.otf');
}
html, body, h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}
header{
  height: 5em;
  width: 100%;
  background-image: url('../img/burger1.jpg');
  background-position: 0 -410px;
  background-size: cover;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 1px 1px 6px black;
  margin-bottom: 2em;
}
header > h1{
  color: white;
  text-align: center;
  font-family: "WRESTLEMANIA", serif;
  font-size: 70px;
  text-shadow: 6px  6px 8px black;
}
.onglet_G_on{
  color: black;
  background-color: white;
  border-radius: 3px;
  }
.source{
  font-family: "source", sans-serif;
}
.anna{
  font-family: "annabel", serif;
}
.resize{
  font-size: 20px;
  font-weight: bold;
}
.liens{
  margin-top: 0.55em;
  padding-bottom: 1px;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  font-size: 18px;
}
header div span a{
  margin-top:2em;
  color:white;
  text-decoration: none;
  margin: 20px;
}
header div span a:hover{
  text-decoration: none;
  color: #bdbdbd;
}
.onglets{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 10em;
  margin-right: 10em;
  border-radius: 12px;
  font-size: 18px;
}
div div span{
  margin:0.2em 0em 0em 0em;
}
div div span a{
  text-decoration: none;
  padding: 9px;
  border-radius: 18px;
  color:white;
  text-shadow: 2px 2px 5px black;
}
div div span a:hover{
  text-decoration: none;
  color: yellow;
}
.green{
  background-color: rgba(45,191,100,1);
}
.red{
  background-color: rgba(0, 255, 0, 0.4);
}
input[type="text"]{
  padding: 10px;
  border: solid 1px #dcdcdc;
  border-radius: 3px;
  transition: box-shadow 0.3s, border 0.3s;
  width: 40em;
}
input[type="text"]:focus,
input[type="text"].focus{
  border: solid 1px #4CADC1;
  box-shadow: 0 0 5px 1px #4CADC1;
}
.price{
  border:1px solid silver;
  padding: 0.48em 0.4em;
  border-radius: 3px;
  margin-left: -0.35em;
  background-color:#e0dede;
}
.text{
  margin-left: 0.3em;
  padding-right: 1.5em;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.column{
 flex-direction: column;
}
.title{
  font-size: 1.7em;
  color: #575A5B;
  margin: 0.4em  0em 0em 0em;
}
.checkbox{
  padding-left: 1em;
  background-color: white;
  border-radius: 4px;
}
.checkB{
  padding: 2px;
}
.submit{
  border: none;
  background-color: #1E9BB4;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 1em 3em 0.5em 3em;
  padding: 0.8em 2em;
  border-radius: 30px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.hiddenTrueSupp{
  display:none;
}
.red{
  background-color: #D9534C;
}
.alignForm{
  display:flex;
  justify-content: center;
  margin-top:1em;
  margin-left:25%;
  margin-right:25%;
  border-radius: 12px;
  background-color:rgba(0, 0, 0, 0.1);
}
form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
label{
  margin-top: 1em;
  margin-bottom: 0.2em;
}
.mainPlat{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
}
.plat{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 238, 88, 0.4);
  border-radius: 12px;
  padding:0em 1em 0em 1em;
  margin:0.5em 1em;
  width: 10em;
  height:auto;
}
.img_plat{
  width: 130px;
  height:100px;
  -moz-border-radius:10px 10px;
  -webkit-border-radius:10px 10px;
  border-radius:10px 10px;
}
.menuTitle{
  text-align: center;
}
.menu{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255,0, 0, 0.15);
  color: black;
  border-radius: 12px;
  margin:0.5em 0.5em;
  padding:0em 1em;
  width: 50em;
  height:auto;
}
.prix{
  background-color: white;
  padding:3px;
  border-radius: 3px;
  width:3em;
  text-align: center;
}
.choice{
  display:flex;
  justify-content: center;
}
.tomato{
  width:150px;
  height:10px;
  background-color:rgba(255, 0, 0,0.9);
  border-radius: 2px;
}
footer{
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 100%;
  bottom: 0;

}
